.intro-img img {
  max-width: 100%;
  margin: auto;
}
.header,
.introduction {
  background: var(--primary-main-background);
  padding-bottom: 190px;
}
.bg-mobile {
  background: url(/images/bg-curvy-mobile.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: local;
  height: 100vh;
  margin-top: -634px;
}
